<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Judul website di my_django/first_project/templates</title>
        <link rel="stylesheet" href="{% static 'css/my_style.css' %}" >
    </head>
    <body>
        <h1>judul website di my_django/first_project/templates/index.html</h1>
        
        <p>ubah gambar ke my_django/first_project/static/images/...</p>
        <img src="{% static 'images/simple.jfif'%}" alt="Django logo" width="100">

        <h2>This is your access record</h2>
        <div class="djangtwo">
             {% if access_records %}
                <table>
                    <thead>
                        <th>Site Name</th>
                        <th>Date Accesed</th>
                    </thead>
                    {% for acc in access_records %}
                        <tr>
                            <td> {{acc.name}} </td>
                            <td> {{acc.date}} </td>
                        </tr>
                    {% endfor %}
                </table>
             {% else %}
                <p>NO ACCESS RECORDS FOUND</p>
             {% endif %}
        </div>
    </body>
</html>